* {
    box-sizing: border-box;
}

body {
    color: #dcddde;
    background-color: #202225;
    font-family: Gill Sans, sans-serif;
    margin: 15px;
}

#mainHead {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

#dropbox {
    width: 800px;
    height: 375px;
    max-width: 1000px;
    max-height: 500px;
    background-color: #2f3136;
    padding: 15px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 2px solid #dcddde;
    position: relative;
    cursor: pointer;
    user-select: none;
    transition: 0.5s;
}

#dropbox .innerline {
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 5px;
    border: 2px dashed #dcddde;
    position: relative;
}

#dropbox .innerline .item {
    left: 0;
    right: 0;
    position: absolute;
    transition: 0.5s;
}

#dropbox .innerline .picture {
    width: 130px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
    top: 80px;
}

#dropbox .innerline .text {
    top: 240px;
}

#dropbox #file_upload {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    opacity: 0;
}

#error {
    margin-left: 10%;
}

#tempform {
    opacity: 0;
}